*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*:focus{
    outline: none;
}

body{
    position: relative;
    background: #ffffff;
    font-family: 'roboto', sans-serif;
}


nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5vw;
}

.left{
    display: flex;
    align-items: center;
    top: 0;
    left: 0;

}
.burger {
    cursor:pointer;
}

.logo{
    margin-left: 11px ;
}

.search-box{
    position: relative;
    max-width: 500px;
    width: 50%;
    height: 35px;
    display: flex;
}

.search-bar{
    width: 85%;
    height: 100%;
    border: 2px solid #dbdbdb;
    padding: 0 20px;
    font-size: 16px;
    text-transform: capitalize;
    border-radius:20px 0 0 20px ;
}

.search-btn{
    width: 15%;
    height: 100%;
    background: #f0f0f0;
    border: 2px solid #dbdbdb;
    padding: 5px 0;
    border-left: none;
    border-radius: 0 20px 20px 0 ;
    
}

.search-btn img{
    height: 100%;
}

#voice-search {
   scale: 0.8;
   margin-left: 11px ;
}

.user-options{
    height: 35px;
    display: flex;
    align-items: center;
}




